.links{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout{
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

.menuButton,
.mobileLinks{
    display: none;
}

@media (max-width: 550px){
    .links{
        display: none;
    }

    .menuButton{
        display: block;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
        font-family: inherit;
        background-color: var(--bgHard);
    }

    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 20%;
        height: calc(100vh - 100px);
        background-color: var(--bgHard);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        z-index: 10;
    }
}